<h1>awk-in # 
<%= @total %>
</h1>
<input id="total" type="hidden" value="<%= @total %>">

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://awkin.co" data-text="waw, generé el awkin # <%= @total %>, conocé más en http://awkin.co" data-via="awkinco" data-lang="es">Tweet</a>

<div class="fb-like" data-href="http://www.facebook.com/awkinco" data-send="true" data-width="450" data-show-faces="true"></div>
