<h1>awk-in # 
<%= @total %>
</h1>
<input id="total" type="hidden" value="<%= @total %>">

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://awkin.co" data-text="waw, generé el awkin # <%= @total %>, conocé más en http://awkin.co" data-via="awkinco" data-lang="es">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" data-href="http://www.facebook.com/awkinco" data-send="true" data-width="450" data-show-faces="true"></div>
